#intro {
    text-align: center;
    background-color: beige;
    color: red;
}

#drinks {
    text-align: center;
    background-color: yellow;
    color: blue;
}

#pics {
    text-align: center;
    background-color: beige;
    color: rgb(49, 145, 157);
}